@using staccato
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">Staccato</a>
            <ul class="nav">
                <li><a href="#upload" data-toggle="modal">Upload</a></li>
            </ul>
            <div class="pull-right" style="line-height: 40px;">
                Now playing @(Directory.GetFiles(Program.Configuration.MusicPath, "*.mp3").Length) songs for
                <span data-bind="text: listeners"></span> listener<span data-bind="visible: listeners() != 1">s</span>!
            </div>
        </div>
    </div>
</div>